$font-code:    Consolas, Monaco, Courier New, Courier, monospace
$font-normal:    Helvetica, Arial, sans-serif
$primary-color: #4F5155

body
    font: $font-normal
    color: $primary-color

#main-container
    font: $font-normal
    padding: 0
	

	
.page-header
    margin: 0px
    padding: 0px
    background-color: #5db2ff

.logo
    margin: 20px

